body {
	background:cyan;
	color:black;
}

h1{
	color:purple;
}

@media (prefers-color-scheme: dark) {
	body {
		background: black;
		color:white;
	}
	
	h1{
		color:violet;
	}
}

.audio_container {
	display: flex;
}